<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Dashboard2</title>
<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<!-- <div class="container">
  <div class="fullBox"></div>
</div> -->
	<div class="container">
		<div class="smallBox1">
			<div class="smallBox1con">
				<img src="icon_orderamount.png" alt="" />
			</div>
			<div class="smallBoxText">
				<span location="employeecount"></span><br /> <span>No of
					Employees</span>
			</div>
		</div>
		<div class="smallBox2">
			<div class="smallBox1con iconBG2">
				<img src="icon_costofgoods.png" alt="" />
			</div>
			<div class="smallBoxText">
				<span location="empattencount"></span><br /> <span>Employee
					Attendance</span>
			</div>
		</div>

		<div class="smallBox4">
			<div class="smallBox1con iconBG4">
				<img src="icon_ordersize.png" alt="" />
			</div>
			<div class="smallBoxText">
				<span location="attenproccount"></span><br /> <span>Attendance
					Process</span>
			</div>
		</div>
		<div class="smallBox3">
			<div class="smallBox1con iconBG3">
				<img src="icon_orders.png" alt="" />
			</div>
			<div class="smallBoxText">
				<span location="payslipcount"></span><br /> <span>No of Pay
					Slips</span>
			</div>
		</div>
		<div class="smallBox1">
			<div class="smallBox1con iconBG2">
				<img src="icon_orders.png" alt="" />
			</div>
			<div class="smallBoxText">
				<span location="jobvacancy"></span><br /> <span>Job Vacancy</span>
			</div>
		</div>
		<div class="smallBox2" style="margin-top: 3px">
			<div class="smallBox1con iconBG1">
				<img src="icon_orders.png" alt="" />
			</div>
			<div class="smallBoxText">
				<span location="empleave"></span><br /> <span>Employee Leave</span>
			</div>
		</div>
		<div class="smallBox3" style="margin-top: 3px">
			<div class="smallBox1con iconBG2">
				<img src="icon_orderamount.png" alt="" />
			</div>
			<div class="smallBoxText">
				<span location="outpass"></span><br /> <span>Outpass</span>
			</div>
		</div>
		<div class="smallBox4" style="margin-top: 3px">
			<div class="smallBox1con iconBG4">
				<img src="icon_orders.png" alt="" />
			</div>
			<div class="smallBoxText">
				<span location="visitpass"></span><br /> <span>Visitor Pass</span>
			</div>
		</div>
		<div class="smallBox1" style="margin-top: 3px">
			<div class="smallBox1con iconBG3">
				<img src="icon_orders.png" alt="" />
			</div>
			<div class="smallBoxText">
				<span location="courier"></span><br /> <span>Courier</span>
			</div>
		</div>
		<div class="smallBox2" style="margin-top: 3px">
			<div class="smallBox1con iconBG2">
				<img src="icon_orders.png" alt="" />
			</div>
			<div class="smallBoxText">
				<span location="phonereg"></span><br /> <span>Phone Register</span>
			</div>
		</div>
	</div>

	<div class="row grid" style="min-height: 280px;">
		<div class="widget-main-title">
			<span>&nbsp;&nbsp;&nbsp;&nbsp;Employee Leave Calendar</span>

		</div>
		<div location="employeeleave"></div>
	</div>

	<div class="container">

		<table style="width: 100%">
			<tr>
				<td>
					<div class="halfWidthBoxes">
						<div class="full center">
							<span class="star">***</span> Employee Outpass <span class="star">***</span>
						</div>
						<div location="tableoutpass"></div>

					</div>
				</td>
				<td>
					<div class="halfWidthBoxes colorlightblue noRM">
						<div class="full center">
							<span class="star">***</span> Visitor Pass<span class="star">***</span>
						</div>
						<div class="full center">
							<div location="tablevisitorpass"></div>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="halfWidthBoxes">
						<div class="full center">
							<span class="star">***</span> Employee Leave <span class="star">***</span>
						</div>
						<div location="tableempleave"></div>

					</div>
				</td>
				<td>
					<div class="halfWidthBoxes colorlightblue noRM">
						<div class="full center">
							<span class="star">***</span> Phone Register <span class="star">***</span>
						</div>
						<div class="full center">
							<div location="tablephonereg"></div>

						</div>
					</div>
				</td>
			</tr>
		</table>

	</div>
</body>
</html>