<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Dashboard2</title>
<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
<!-- <div class="container">
  <div class="fullBox"></div>
</div> -->
<div class="container">
  <div class="smallBox1">
  	<div class="smallBox1con"><img src="icon_orderamount.png" alt=""/></div>
    <div class="smallBoxText" ><span location="accountscount">10</span><br/><span>No of Accounts</span></div>
  </div>
  <div class="smallBox2">
  	<div class="smallBox1con iconBG2"><img src="icon_costofgoods.png" alt=""/></div>
    <div class="smallBoxText"><span location="transcount">18</span><br/><span>No of Transactions</span></div>
  </div>
  <div class="smallBox3">
  	<div class="smallBox1con iconBG3"><img src="icon_orders.png" alt=""/></div>
    <div class="smallBoxText">Rs 10,85,696.00<br/><span>Total Income</span></div>
  </div>
  <div class="smallBox4">
  	<div class="smallBox1con iconBG4"><img src="icon_ordersize.png" alt=""/></div>
    <div class="smallBoxText">Rs 8,605.00<br/><span>Today Transactions</span></div>
  </div>
</div>
<!--<div class="container">
  <div class="fullBox">
  	<div class="full center">
    	<span class="star">***</span> 0% OF YOUR PRODUCTS ARE RETURNED <span class="star">***</span>
    </div>
    <div class="innerPanel">No enough returns to show data</div>
  </div>
</div>
 <div class="container">
	<div class="halfWidthBoxes">
	  <div class="full center"> <span class="star">***</span> YOUR TOP CUSTOMERS <span class="star">***</span>
      <br/>
      Theses customers are making your business earn big bucks.
      </div>
      <div class="topCustomer">
       	<div class="second">Bala<br/>55</div>
        <div class="first">Soundar<br/>75</div>
        <div class="third">Karthik<br/>37</div>
       </div>
      <div class="full center"> <span class="star">***</span> TOP RUNNER UPS <span class="star">***</span>

       </div>
       <div class="innerPanel">No enough customers to show top runner ups.</div>
	</div>
    <div class="halfWidthBoxes colorlightblue noRM">
      <div class="full center"> <span class="star">***</span> TOP SELLING PRODUCTS <span class="star">***</span> </div> 
      <div class="full center">
    	<div class="bag"></div>
        <div class="productslist textBG1">These products are making more money</div>
        <div class="productslist aLeft"><span>56%</span>Crocs Unisex Clogs (Demo) - Red-S</div>
        <div class="productslist aLeft"><span>44%</span>Unisex Navy Echo Plus Backpack (Demo)</div>
    </div>
    <div class="addproduct">Add Product</div>
    </div>
   
    <div class="halfWidthBoxes colorblue noRM">
    	<div class="full center"> <span class="star">***</span> HIGH STOCK PRODUCTS <span class="star">***</span>
      <br/>
      You can consider keepinng discount on hihgstock products.
      </div>
      <div class="full bBorder">
      	<div  class="products">Unisex Navy Echo Plus Backpack (Demo)</div>
        <div class="counts">210</div>
        <div class="discounts"><span>24.14%</span> of total stock</div>
      </div>
      <div class="full bBorder">
       <div  class="products">Crocs Unisex Clogs (Demo) - Red-S</div>
        <div class="counts">110</div>
        <div class="discounts"><span>12.64%</span> of total stock</div>
      </div>
      <div class="full bBorder">
      	<div  class="products">Unisex Navy Echo Plus Backpack (Demo)</div>
        <div class="counts">210</div>
        <div class="discounts"><span>24.14%</span> of total stock</div>
      </div>
      <div class="full bBorder">
       <div  class="products">Crocs Unisex Clogs (Demo) - Red-S</div>
        <div class="counts">110</div>
        <div class="discounts"><span>12.64%</span> of total stock</div>
      </div>
      <div class="full bBorder">
      	<div  class="products">Unisex Navy Echo Plus Backpack (Demo)</div>
        <div class="counts">210</div>
        <div class="discounts"><span>24.14%</span> of total stock</div>
      </div>
      
    </div>
</div> -->
</body>
</html>
