<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Dashboard2</title>
<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="container">
		<div class="smallBox1">
			<div class="smallBox1con">
				<img src="icon_orderamount.png" alt="" />
			</div>
			<div class="smallBoxText">
				<span location="enquiry">Rs 125.00</span><br />
				<span>Die Request</span>
			</div>
		</div>
		<div class="smallBox2">
			<div class="smallBox1con iconBG2">
				<img src="icon_costofgoods.png" alt="" />
			</div>
			<div class="smallBoxText">
				<span location="quotation">Rs 125.00</span><br />
				<span>Die Section</span>
			</div>
		</div>
		<div class="smallBox3">
			<div class="smallBox1con iconBG3">
				<img src="icon_orders.png" alt="" />
			</div>
			<div class="smallBoxText">
				<span location="purchaseorder">Rs 125.00</span><br />
				<span>Mold Trial Req.</span>
			</div>
		</div>
		<div class="smallBox4">
			<div class="smallBox1con iconBG4">
				<img src="icon_ordersize.png" alt="" />
			</div>
			<div class="smallBoxText">
				<span location="receipts">Rs 125.00</span><br />
				<span>Die Completion</span>
			</div>
		</div>
		<div class="smallBox1">
			<div class="smallBox1con iconBG1">
				<img src="icon_ordersize.png" alt="" />
			</div>
			<div class="smallBoxText">
				<span location="vendorbills">Rs 125.00</span><br />
				<span>BOM</span>
			</div>
		</div>
	</div>
	<div class="container">
		<div location="maintaincedtls">
			<div class="full center">
				<span class="star">***</span> 3.6% OF YOUR MATERIALS ARE RETURNED <span
					class="star">***</span>
			</div>
		</div>
	</div>
	<div class="container">
		<div>
			<div class="full center">
				<span class="star">***</span> Asset Complaints Monitor. <span
					class="star">***</span> <br /> Please fix these issues as soon as possible.
			</div>
			<div location="stockDetails"></div>

		</div>
		<br>
		<div class="container">
		<div class="fullBox1">
			<div class="full center">
				<span class="star">***</span> Generator Fuel Monitor<span
					class="star">***</span>
			</div>
			<div location="gensetoilchk">No enough returns to show data</div>
		</div>
	</div>
		
		
		<div class="halfWidthBoxes colorblue noRM">
			<div class="full center">
				
			</div>
			<div location="paymenttable"></div>

		</div>
		<div class="halfWidthBoxes colorblue noRM">
			<div class="full center">
				
			</div>
			<div location="deliverypending"></div>

		</div>
	</div>
</body>
</html>