<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Dashboard2</title>
<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container">
  <div class="smallBox1">
  	<div class="smallBox1con"><img src="icon_orderamount.png" alt=""/></div>
    <div class="smallBoxText"><span location="enquiry">Rs 125.00</span><br/><span>Total Enquires.</span></div>
  </div>
  <div class="smallBox2">
  	<div class="smallBox1con iconBG2"><img src="icon_costofgoods.png" alt=""/></div>
    <div class="smallBoxText"><span location="quotation">Rs 125.00</span><br/><span>Total Quotations.</span></div>
  </div>
  <div class="smallBox3">
  	<div class="smallBox1con iconBG3"><img src="icon_orders.png" alt=""/></div>
    <div class="smallBoxText"><span location="purchaseorder">Rs 125.00</span><br/><span>Total Orders.</span></div>
  </div>
  <div class="smallBox4">
  	<div class="smallBox1con iconBG4"><img src="icon_ordersize.png" alt=""/></div>
    <div class="smallBoxText"><span location="receipts">Rs 125.00</span><br/><span>Material Receipts.</span></div>
  </div>
  <div class="smallBox1">
  	<div class="smallBox1con iconBG1"><img src="icon_ordersize.png" alt=""/></div>
    <div class="smallBoxText"><span location="vendorbills">Rs 125.00</span><br/><span>No of Bills.</span></div>
  </div>
</div>
<div class="container">
  <div class="fullBox">
  	<div class="full center">
    	<span class="star">***</span> 3.6% OF YOUR MATERIALS ARE RETURNED <span class="star">***</span>
    </div>
    <div class="innerPanel">No enough returns to show data</div>
  </div>
</div>
<div class="container">
	<div class="halfWidthBoxes">
	  <div class="full center"> <span class="star">***</span> Material Purchase Monitor. <span class="star">***</span>
      <br/>
      Theses customers are making your business earn big bucks.
      </div>
      <div location="topvendors"></div>
      
	</div>
    <div class="halfWidthBoxes colorlightblue noRM">
      <div class="full center"> <span class="star">***</span> Pending Reminder Screen. <span class="star">***</span> </div> 
      <div class="full center">
    	<div class="bag"></div>
        <div class="productslist textBG1">These materials are making more money</div>
        <div class="productslist aLeft"><span>56%</span>Crocs Unisex Clogs (Demo) - Red-S</div>
        <div class="productslist aLeft"><span>44%</span>Unisex Navy Echo Plus Backpack (Demo)</div>
    </div>
    <div class="addproduct">Add Product</div>
    </div>
   
    <div class="halfWidthBoxes colorblue noRM">
    	<div class="full center"> <span class="star">***</span> Material Delivery Monitor <span class="star">***</span>
      <br/>
      You can consider keepinng discount on hihgstock products.
      </div>
      <div class="full bBorder">
      	<div  class="products">Unisex Navy Echo Plus Backpack (Demo)</div>
        <div class="counts">210</div>
        <div class="discounts"><span>24.14%</span> of total stock</div>
      </div>
      <div class="full bBorder">
       <div  class="products">Crocs Unisex Clogs (Demo) - Red-S</div>
        <div class="counts">110</div>
        <div class="discounts"><span>12.64%</span> of total stock</div>
      </div>
      <div class="full bBorder">
      	<div  class="products">Unisex Navy Echo Plus Backpack (Demo)</div>
        <div class="counts">210</div>
        <div class="discounts"><span>24.14%</span> of total stock</div>
      </div>
      <div class="full bBorder">
       <div  class="products">Crocs Unisex Clogs (Demo) - Red-S</div>
        <div class="counts">110</div>
        <div class="discounts"><span>12.64%</span> of total stock</div>
      </div>
      <div class="full bBorder">
      	<div  class="products">Unisex Navy Echo Plus Backpack (Demo)</div>
        <div class="counts">210</div>
        <div class="discounts"><span>24.14%</span> of total stock</div>
      </div>
      
    </div>
</div>
</body>
</html>