<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Dashboard2</title>
<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="container">
		<div class="smallBox1">
			<div class="smallBox1con">
				<img src="icon_orderamount.png" alt="" />
			</div>
			<div class="smallBoxText">
				<span location="enquiry">Rs 125.00</span><br />
				<span>Total Enquires.</span>
			</div>
		</div>
		<div class="smallBox2">
			<div class="smallBox1con iconBG2">
				<img src="icon_costofgoods.png" alt="" />
			</div>
			<div class="smallBoxText">
				<span location="quotation">Rs 125.00</span><br />
				<span>Total Quotations.</span>
			</div>
		</div>
		<div class="smallBox3">
			<div class="smallBox1con iconBG3">
				<img src="icon_orders.png" alt="" />
			</div>
			<div class="smallBoxText">
				<span location="purchaseorder">Rs 125.00</span><br />
				<span>Total Orders.</span>
			</div>
		</div>
		<div class="smallBox4">
			<div class="smallBox1con iconBG4">
				<img src="icon_ordersize.png" alt="" />
			</div>
			<div class="smallBoxText">
				<span location="receipts">Rs 125.00</span><br />
				<span>Material Receipts.</span>
			</div>
		</div>
		<div class="smallBox1">
			<div class="smallBox1con iconBG1">
				<img src="icon_ordersize.png" alt="" />
			</div>
			<div class="smallBoxText">
				<span location="vendorbills">Rs 125.00</span><br />
				<span>No of Bills.</span>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="fullBox">
			<div class="full center">
				<span class="star">***</span> 3.6% OF YOUR MATERIALS ARE RETURNED <span
					class="star">***</span>
			</div>
			<div class="innerPanel">No enough returns to show data</div>
		</div>
	</div>
	<div class="container">
		<div class="halfWidthBoxes">
			<div class="full center">
				<span class="star">***</span> Material Stock Monitor. <span
					class="star">***</span> <br /> These materials are making your
				business earn big bucks.
			</div>
			<div location="stockDetails"></div>

		</div>
		<div class="halfWidthBoxes colorlightblue noRM">
			<div class="full center">
				<span class="star">***</span> Pending Reminder Screen. <span
					class="star">***</span>
			</div>
			<div class="full center">
				<div class="bag"></div>
				<div location="enquirytable"></div>

			</div>
			<div location="addmaterial">Add Material</div>
			<div location="addVendor">Add Vendor</div>
		</div>

		<div class="halfWidthBoxes colorblue noRM">
			<div class="full center">
				<span class="star">***</span> Payment Pending Reminder <span
					class="star">***</span> <br /> You can consider keeping pending
				payments to vendors.
			</div>
			<div location="paymenttable"></div>

		</div>
		<div class="halfWidthBoxes colorblue noRM">
			<div class="full center">
				<span class="star">***</span> Delivery Pending Reminder <span
					class="star">***</span> <br /> You can consider delivery pending
				from vendors.
			</div>
			<div location="deliverypending"></div>

		</div>
	</div>
</body>
</html>