<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Dashboard2</title>
<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="container">
		<div class="smallBox1">
			<div class="smallBox1con">
				<img src="icon_orderamount.png" alt="" />
			</div>
			<div class="smallBoxText">
				<span location="qc">Rs 125.00</span><br /> <span>QC</span>
			</div>
		</div>
		<div class="smallBox2">
			<div class="smallBox1con iconBG2">
				<img src="icon_costofgoods.png" alt="" />
			</div>
			<div class="smallBoxText">
				<span location="qa">Rs 125.00</span><br /> <span>QA</span>
			</div>
		</div>
		<div class="smallBox3">
			<div class="smallBox1con iconBG3">
				<img src="icon_orders.png" alt="" />
			</div>
			<div class="smallBoxText">
				<span location="scf">Rs 125.00</span><br /> <span>---- </span>
			</div>
		</div>
		<div class="smallBox4">
			<div class="smallBox1con iconBG4">
				<img src="icon_ordersize.png" alt="" />
			</div>
			<div class="smallBoxText">
				<span location="dierequest">Rs 125.00</span><br /> <span>----</span>
			</div>
		</div>
		<div class="smallBox4">
			<div class="smallBox1con iconBG4">
				<img src="icon_ordersize.png" alt="" />
			</div>
			<div class="smallBoxText">
				<span location="others">Rs 125.00</span><br /> <span>----</span>
			</div>
		</div>

	</div>
	<div class="container">
		<div location="testschedule">
			<div class="full center">
				<span class="star">***</span> 3.6% OF YOUR MATERIALS ARE RETURNED <span
					class="star">***</span>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="halfWidthBoxes colorblue noRM">
			<div class="full center">
			<span class="star">***</span> Material Stock Monitor <span
					class="star">***</span>
			</div>
			<div location="stockDetails"></div>

		</div>
		<div class="halfWidthBoxes colorblue noRM">
			<div class="full center"></div>
			<div location="deliverypending"></div>

		</div>
	</div>
</body>
</html>